<div class="container">
  <form action="" role='form' >
    <div class="page-title">
      <h1>Edit Branch</h1>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-8">
        <legend>Branch Information</legend>
        <div class="form-group">
          <label for="">Branch Name</label>
          <input type="text" class="form-control" ng-model="branch.name">
        </div>
        <div class="form-group">
          <label for="">Address</label>
          <input type="text" class="form-control" ng-model="branch.address">
        </div>
        <div class="form-group">
          <label for="">Contact Number</label>
          <input type="text" class="form-control" ng-model="branch.phone_number">
        </div>
        <div class="form-group">
          <label for="">Working Hours</label>
          <div class="row">
            <div class="col-xs-6">
              <label for="">Start</label>
              <input type="text" class="form-control" ng-model="branch.working_hour_start">
            </div>
            <div class="col-xs-6">
              <label for="">End</label>
              <input type="text" class="form-control" ng-model="branch.working_hour_end">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Delivery Hours</label>
          <div class="row">
            <div class="col-xs-6">
              <label for="">Start</label>
              <input type="text" class="form-control" ng-model="branch.delivery_hour_start">
            </div>
            <div class="col-xs-6">
              <label for="">End</label>
              <input type="text" class="form-control" ng-model="branch.delivery_hour_end">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Delivery Zones</label>
          <ul class="list-group">
            <li class="list-group-item active">
              <div class="row">
                <div class="col-xs-6"><b>Address</b></div>
                <div class="col-xs-3"><b>Distance</b></div>
                <div class="col-xs-3"><b>Delivery Charge</b></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  Mabolo, Cebu City
                </div>
                <div class="col-xs-3">5 km</div>
                <div class="col-xs-3">
                  20.00
                  <span class="fa fa-times pointer pull-right"></span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  Mabolo, Cebu City
                </div>
                <div class="col-xs-3">5 km</div>
                <div class="col-xs-3">
                  20.00
                  <span class="fa fa-times pointer pull-right"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="">Add Delivery Zone</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search place" ng-autocomplete ng-model="address" details="data">
            <div class="input-group-addon"><span class="fa fa-search"></span></div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Charge Type:</label>
          <select name="" id="" class="form-control">
            <option value="percentage">Percentage</option>
            <option value="amount">Fixed Amount</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Charge:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <a class="btn btn-default" ng-click="addDeliveryZone()">
            <span class="fa fa-plus"></span>
            Add Delivery Zone
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <legend>Publishing and Related Details</legend>
        <div class="form-group">
          <label for="">Slug</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Meta Keywords</label>
          <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="">Meta Description</label>
          <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" ng-click="saveBranch(branch)">Update and Publish</button>
          <!-- <button class="btn btn-default btn-block">Save but Don't Publish</button> -->
        </div>
      </div>
    </div>
  </form>
</div>