<div ui-view>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h1>
            Branches
           <a ui-sref="branches.new" class="btn btn-success btn-sm"><span class="fa fa-plus"></span> Add New Branch</a>
            <form action="" class="form-inline pull-right" role="form">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="searchBranch">
                  <div class="input-group-addon"><span class="fa fa-search"></span></div>
                </div>
              </div>
            </form>
          </h1>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Phone No.</th>
              <th>Working Hours</th>
              <th>Delivery Hours</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="branch in branches | filter: searchBranch">
              <td>{{branch.name}}</td>
              <td>{{branch.address}}</td>
              <td>{{branch.phone_number}}</td>
              <td>(to be formatted)</td>
              <td>(to be formatted)</td>
              <td>
                <div class="btn-group">
                  <a ui-sref="branches.show({id: branch.id})" class="btn btn-primary btn-xs"><span class="fa fa-eye"></span></a>
                  <a ui-sref="branches.edit({id: branch.id})" class="btn btn-success btn-xs"><span class="fa fa-pencil"></span></a>
                  <a href="" class="btn btn-danger btn-xs"><span class="fa fa-trash-o"></span></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <begriffs.pagination
            collection="branches"
            url="branches_url"
            template-url="paginate-anything/tpl.html">
          </begriffs.pagination>
        </div>
      </div>
    </div>
  </div>
</div>