<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h1>
          Branch Information
          <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-success" ui-sref="branches.edit({id: branch.id})">Edit</button>
            <button type="button" class="btn btn-success dropdown-toggle">
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="deleteBranch(branch)">Delete Branch <span class="pull-right fa fa-times"></span></a></li>
            </ul>
          </div>
        </h1>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Basic Details
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Name:</b></div>
                <div class="col-xs-8">{{branch.name}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Address:</b></div>
                <div class="col-xs-8">{{branch.address}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Cotact No:</b></div>
                <div class="col-xs-8">{{branch.phone_number}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Working Hours:</b></div>
                <div class="col-xs-8">10 AM - 8 PM</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Delivery Hours:</b></div>
                <div class="col-xs-8">10 AM - 7 PM</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            Delivery Zones
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Address</th>
                <th>Distance</th>
                <th>Delivery Charge</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="i in [1,2,3]">
                <td>Mabolo, Cebu City</td>
                <td>3 km</td>
                <td>20.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            Publishing and Related Details
          </div>
        </div>
        <div class="panel-body">
          <b>Slug: </b>
          {{branch.slug}}
          <hr>
          <b>Meta Keywords:</b>
          <span class="label label-default" ng-repeat="keyword in branch.meta_keywords.split(',')">{{keyword}}</span>
          <hr>
          <b>Meta Description:</b>
          {{branch.meta_description}}
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Map Location</div>
        <div class="panel-body">
          <div ng-if="branch" style="width: 100%; height: 250px">
            <map center='center'>
              <marker position="current"></marker>
            </map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>