<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h1>
          Branch Information
          <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-success" ui-sref="branches.edit">Edit</button>
            <button type="button" class="btn btn-success dropdown-toggle">
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a>Delete Branch <span class="pull-right fa fa-times"></span></a></li>
            </ul>
          </div>
        </h1>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Basic Details
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Name:</b></div>
                <div class="col-xs-8">Branch 1</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Address:</b></div>
                <div class="col-xs-8">Talamban, Cebu City</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Cotact No:</b></div>
                <div class="col-xs-8">12346789</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Working Hours:</b></div>
                <div class="col-xs-8">10 AM - 8 PM</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4"><b>Delivery Hours:</b></div>
                <div class="col-xs-8">10 AM - 7 PM</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            Delivery Zones
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Address</th>
                <th>Distance</th>
                <th>Delivery Charge</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="i in [1,2,3]">
                <td>Mabolo, Cebu City</td>
                <td>3 km</td>
                <td>20.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            Publishing and Related Details
          </div>
        </div>
        <div class="panel-body">
          <b>Slug: </b>
          branch-1
          <hr>
          <b>Meta Keywords:</b>
          <span class="label label-default">keyword</span>
          <span class="label label-default">keyword</span>
          <span class="label label-default">keyword</span>
          <hr>
          <b>Meta Description:</b>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolore, nihil nobis labore eos debitis! Quos commodi consequatur officiis alias deserunt voluptate perferendis amet, possimus voluptates repellat et cupiditate aut!
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Map Location</div>
        <div class="panel-body">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3925.2208432770644!2d123.9088056!3d10.3242034!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a99917f05d760d%3A0xb1f318aef8b60cfb!2sCrown+7%2C+Pope+John+Paul+II+Ave%2C+Cebu+City%2C+Philippines!5e0!3m2!1sen!2s!4v1405619478385" width="100%" height="300" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>