<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal-header">
        <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">[Item Name Here]</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <ul class="list-group">
              <li class="list-group-item">
                Name: Adones Pitogo
              </li>
            </ul>
          </div>
          <div class="col-xs-6"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
      </div>
    </div>
  </div>
</div>