.menu-items-page{
  .item-options-collection-con{
    overflow-y: scroll;
    max-height: 350px;
    margin-bottom: 10px;
    .list-group-item{
      .fa-check{
        display: none;
      }
      &.active, &:hover{
        .fa-check{
          display: block;
        }
      }
    }
  }
}