<div class="modal-header">
    <h3 class="modal-title">Add Item Options</h3>
</div>
<div class="modal-body">
    <br>
    <tabset>
        <tab heading="Add from available options">
            <br>
            <div class="menu-items-page">
              <div class="item-options-collection-con">
                <div class="list-group">
                  <a ng-class="{ 'active': item.selected }" class="list-group-item" ng-repeat="item in item_options_for_select" ng-click="item.selected = true; new_item_options.push(item)">
                    <div class="row">
                      <div class="col-xs-1">
                        <span class="fa fa-check text-success"></span>
                      </div>
                      <div class="col-xs-11">
                          <p>
                            <b>{{item.name}}</b>
                          </p>
                          <small><i>Customer selects {{item.option_limit}} item:</i></small>
                          <ul>
                            <li ng-repeat="opt in item.options">
                              {{opt.name}}
                              <span class="label label-success pull-right">+ {{opt.price}}</span>
                            </li>
                          </ul>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
        </tab>
        <tab heading="Create new item option" select="addOneOption()">
            <br>
            <form action="">
                <div class="form-group">
                    <label for="">Option Name</label>
                    <input type="text" class="form-control" ng-model="new_item_options[0].name">
                </div>
                <div class="form-group">
                    <label for="">How many options a customer can choose ?</label>
                    <input type="text" class="form-control" ng-model="new_item_options[0].option_limit">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea name="" cols="3" rows="3"
                    class="form-control"
                    ng-model="new_item_options[0].description">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="">Option Items</label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="option in new_item_options[0].options">
                            {{option.name}}
                            <span class="label label-success">+ {{option.price}}</span>
                            <span class="fa fa-times pointer pull-right" ng-click="new_item_options[0].options.splice($index, 1)"></span>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fa fa-plus"></span>
                            Add more item
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" placeholder="Name" ng-model="option_option_name">
                                </div>
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" placeholder="Additional Price" ng-model="option_option_price">
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-success" ng-click="addOptionOption({name: option_option_name, price: option_option_price})">Add</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>

        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addOptions()"><span class="fa fa-plus"></span> Add Options</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>