<form action="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Add an Item</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-8">
        <h2>Item Details</h2>
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="">Price</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="">Branches</label>
              <select name="" id="" class="form-control">
                <option value="">Branch1</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <h2>Publishing and Related Details</h2>
        <div class="form-group">
          <label for="">Slug</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Metatags</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Categories</label>
          <select name="" id="" class="form-control">
            <option value="">Category1</option>
          </select>
        </div>
        <button class="btn btn-success" value="">Save and Publish</button>
      </div>
    </div>
  </div>
</form>