<div ui-view class="employees-page">
  <div class="container">
    <div class="page-title">
      <h1>
        Employees
        <a ui-sref="employees.new" class="btn btn-success btn-sm"><span class="fa fa-plus"></span> Add New Employee</a>
        <form action="" class="form-inline pull-right" role="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search employees" ng-model="searchEmployee">
            <div class="input-group-addon">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </form>
      </h1>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <h4><b>Branches</b></h4>
        <div class="list-group">
          <a class="list-group-item" ng-click="employees_url = 'employees'" ng-class="{'active': employees_url == 'resto_admin/employees'}">
            All <span class="fa fa-chevron-right pull-right"></span>
          </a>
          <a ng-class="{'active':selectedBranch.id == branch.id && employees_url != 'resto_admin/employees'}" ng-click="filterByBranch(branch)" ng-repeat="branch in branches" class="list-group-item">{{branch.name}} <span class="fa fa-chevron-right pull-right"></span></a>
        </div>
      </div>
      <div class="col-xs-8">
        <table class="table">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Contact No.</th>
              <th>Date Employeed</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in employees | filter: searchEmployee">
              <td>{{user.firstname}} {{user.lastname}}</td>
              <td>{{user.email}}</td>
              <td>{{usre.phone_number}}</td>
              <td>(to be formatted)</td>
              <td>
                <div class="btn-group">
                  <a ui-sref="employees.edit({id: user.id})" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                  <a ng-click="deleteEmployee(user, employees, $index)" class="btn btn-xs btn-danger"><span class="fa fa-trash-o"></span></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="text-center">
          <begriffs.pagination
            collection="employees"
            url="employees_url"
            template-url="paginate-anything/tpl.html">
          </begriffs.pagination>
        </div>

      </div>
    </div>
  </div>
</div>